# The following extensions and directories will be ignored by git tracking:

*.o
*.exe
*.pyc
*.txt
*.user
*.obj
*.tlog
*.db
*.ipch
*.filters
*.log
*.pdb
*.ilk
*.opendb
*.idb
*.recipe

.vs/
build-*/
*/build
build/
