# The following extensions and directories will be ignored by git tracking:

*.o
*.exe
*.pyc
*.txt
*.user
*.obj
*.tlog
*.db
*.ipch
*.filters
*.log
*.pdb
*.ilk
*.opendb
*.idb
*.recipe
*.DS_Store

.vs/
build-*/
*/build
build/
3rd_party_libs/
Creational_Patterns/Factory_Method_old/
